project/db-data/mongo/_mdb_catalog.wt
project/db-data/mongo/collection-0--4636491221174711991.wt
project/db-data/mongo/collection-0--7746202749914150271.wt
project/db-data/mongo/collection-2--7746202749914150271.wt
project/db-data/mongo/collection-4--7746202749914150271.wt
project/db-data/mongo/collection-8--7746202749914150271.wt
project/db-data/mongo/index-1--4636491221174711991.wt
project/db-data/mongo/index-1--7746202749914150271.wt
project/db-data/mongo/index-3--7746202749914150271.wt
project/db-data/mongo/index-5--7746202749914150271.wt
project/db-data/mongo/index-6--7746202749914150271.wt
project/db-data/mongo/index-9--7746202749914150271.wt
project/db-data/mongo/index-10--7746202749914150271.wt
project/db-data/mongo/mongod.lock
project/db-data/mongo/sizeStorer.wt
project/db-data/mongo/storage.bson
project/db-data/mongo/WiredTiger
project/db-data/mongo/WiredTiger.lock
project/db-data/mongo/WiredTiger.turtle
project/db-data/mongo/WiredTiger.wt
project/db-data/mongo/WiredTigerLAS.wt
